@import './../../../main';
.SearchBar {
    width: auto;
    height: 171px;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{
        padding:0;
        height: 40px;
        width:40%;
        border-top: 1px solid #707070;
        border-left: 1px solid #707070;
        border-bottom: 1px solid #707070;
    }
    &__submit {
        position: relative;
        height: 40px;
        width: 40px;
        padding:0;
        border: 1px solid #707070;
        background-color: $primary-color;
    }
    &__input::placeholder{
        font-family: $primary-font;
        font-size: 1.5rem;
        color: #00000040;
        padding-left: 20px;
        vertical-align: middle;
    }
    &__input[type="text"]{
        font-family: $primary-font;
        font-size: 1.5rem;
        padding-left: 20px;
    }
    &__icon {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 50%;
    }
    &__cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;
        margin-left: 40px;
        &-heart, &-cartIcon {
            padding: 1rem;
        }
        &-price{
            font-size: 2rem;
            font-family: $primary-font;
        }
    }
}